In [3]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/sukhmani1303/flight-price-prediction/main/Clean_Dataset.csv")

# Specify the columns to drop
columns_to_drop = ['airline', 'price']

# Use the drop() method to remove the specified columns
df = df.drop(columns=columns_to_drop)

# Display the updated DataFrame
print(df)

        Unnamed: 0   flight source_city departure_time stops   arrival_time  \
0                0  SG-8709       Delhi        Evening  zero          Night
1                1  SG-8157       Delhi  Early_Morning  zero        Morning
2                2   I5-764       Delhi  Early_Morning  zero  Early_Morning
3                3   UK-995       Delhi        Morning  zero      Afternoon
4                4   UK-963       Delhi        Morning  zero        Morning
...            ...      ...         ...            ...   ...            ...
300148      300148   UK-822     Chennai        Morning   one        Evening
300149      300149   UK-826     Chennai      Afternoon   one          Night
300150      300150   UK-832     Chennai  Early_Morning   one          Night
300151      300151   UK-828     Chennai  Early_Morning   one        Evening
300152      300152   UK-822     Chennai        Morning   one        Evening

       destination_city     class  duration  days_left
0                Mumbai   Economy      2.17          1
1                Mumbai   Economy      2.33          1
2                Mumbai   Economy      2.17          1
3                Mumbai   Economy      2.25          1
4                Mumbai   Economy      2.33          1
...                 ...       ...       ...        ...
300148        Hyderabad  Business     10.08         49
300149        Hyderabad  Business     10.42         49
300150        Hyderabad  Business     13.83         49
300151        Hyderabad  Business     10.00         49
300152        Hyderabad  Business     10.08         49

[300153 rows x 10 columns]